# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/library/common/values.schema.json
controllers:
  main:
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      change-detection:
        image:
          repository: ghcr.io/dgtlmoon/changedetection.io
          tag: 0.45.26
        env:
          PORT: &port 5000
          USE_X_SETTINGS: 1
          PLAYWRIGHT_DRIVER_URL: ws://localhost:3000/?stealth=1&--disable-web-security=true&--user-data-dir=~/browserless-cache-123
          TZ: America/New_York
        resources:
          requests:
            cpu: 10m
            memory: 512Mi
          limits:
            memory: 512Mi
      browser:
        image:
          pullPolicy: Always
          repository: docker.io/browserless/chrome
          tag: "1-chrome-stable"
        env:
          - name: SCREEN_WIDTH
            value: "1920"
          - name: SCREEN_HEIGHT
            value: "1024"
          - name: SCREEN_DEPTH
            value: "16"
          - name: ENABLE_DEBUGGER
            value: "false"
          - name: PREBOOT_CHROME
            value: "true"
          - name: CONNECTION_TIMEOUT
            value: "300000"
          - name: MAX_CONCURRENT_SESSIONS
            value: "10"
          - name: CHROME_REFRESH_TIME
            value: "600000"
          - name: DEFAULT_BLOCK_ADS
            value: "true"
          - name: DEFAULT_STEALTH
            value: "true"
service:
  main:
    controller: main
    ports:
      http:
        port: *port

ingress:
  main:
    className: nginx
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/group: "Apps & Services"
      gethomepage.dev/description: "Website Change Detection ... For Clever People"
      gethomepage.dev/name: "Change Detection"
      gethomepage.dev/icon: changedetection-io.png
      gethomepage.dev/widget.type: changedetectionio
      gethomepage.dev/widget.url: http://change-detection.services.svc:5000
      gethomepage.dev/widget.key: "{{HOMEPAGE_VAR_CHANGEDETECTION_API_TOKEN}}"
    hosts:
      - host: &host change.hermleigh.cc
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: main
              port: http
    tls:
      - hosts:
          - *host
        secretName: external-wildcard-certificate

persistence:
  datastore:
    accessMode: ReadWriteOnce
    size: 10Gi
    storageClass: local-path
