[submodule "references/home-ops"]
	path = references/home-ops
	url = https://github.com/bjw-s/home-ops.git
[submodule "references/blackjid"]
	path = references/blackjid
	url = https://github.com/blackjid/k8s-gitops.git
[submodule "references/bjw-s"]
	path = references/bjw-s
	url = https://github.com/bjw-s/home-ops.git
[submodule "references/onedr0p"]
	path = references/onedr0p
	url = https://github.com/onedr0p/home-ops.git
[submodule "references/carpenike"]
	path = references/carpenike
	url = https://github.com/carpenike/k8s-gitops.git
[submodule "references/RickCoxDev"]
	path = references/RickCoxDev
	url = https://github.com/RickCoxDev/home-cluster.git
[submodule "references/billimek"]
	path = references/billimek
	url = https://github.com/billimek/k8s-gitops.git
[submodule "references/onedr0p-template"]
	path = references/onedr0p-template
	url = https://github.com/onedr0p/flux-cluster-template.git
[submodule "references/kubespray"]
	path = references/kubespray
	url = https://github.com/kubernetes-sigs/kubespray.git
[submodule "references/khuedoan"]
	path = references/khuedoan
	url = https://github.com/khuedoan/homelab.git
[submodule "references/gruberdev"]
	path = references/gruberdev
	url = https://github.com/gruberdev/homelab
[submodule "refrences/vehagn"]
	path = references/vehagn
	url = https://github.com/vehagn/homelab.git
