# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/library/common/values.schema.json
controllers:
  main:
    type: statefulset

    statefulset:
      volumeClaimTemplates:
        - name: config
          accessMode: ReadWriteOnce
          size: 30Gi
          storageClass: local-path
          globalMounts:
            - path: /config

    pod:
      enableServiceLinks: false
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: "OnRootMismatch"
        supplementalGroups:
          - 44
          - 109

    containers:
      jellyfin:
        image:
          repository: docker.io/jellyfin/jellyfin
          tag: 10.9.4
        env:
          DOTNET_SYSTEM_IO_DISABLEFILELOCKING: "true"
          JELLYFIN_FFmpeg__probesize: 50000000
          JELLYFIN_FFmpeg__analyzeduration: 500000000
          JELLYFIN_PublishedServerUrl: 172.16.1.24
        resources:
          requests:
            cpu: 100m
            memory: 9248M
          limits:
            memory: 9248M
      jellyseer:
        image:
          repository: docker.io/fallenbagel/jellyseerr
          tag: 1.9.0
        env:
          TZ: America/New_York
          LOG_LEVEL: "info"
          PORT: &port 8080
        resources:
          requests:
            cpu: 15m
            memory: 324M
          limits:
            memory: 324M

service:
  jellyfin:
    controller: main
    ports:
      http:
        port: 8096
  jellyseer:
    controller: main
    ports:
      http:
        port: *port

ingress:
  jellyfin:
    enabled: true
    className: nginx
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: "Free Software Media System"
      gethomepage.dev/icon: jellyfin.png
      gethomepage.dev/group: "Media"
      gethomepage.dev/name: Jellyfin
      gethomepage.dev/widget.type: jellyfin
      gethomepage.dev/widget.url: "http://jellyfin.media.svc:8096"
      gethomepage.dev/widget.key: "{{HOMEPAGE_VAR_JELLYFIN_API_KEY}}"
      gethomepage.dev/widget.enableBlocks: "true"
    hosts:
      - host: &host jellyfin.hermleigh.cc
        paths:
          - path: /
            service:
              identifier: jellyfin
              port: http
    tls:
      - hosts:
          - *host
        secretName: external-wildcard-certificate
  jellyseer:
    enabled: true
    className: nginx
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/name: "Jellyseerr"
      gethomepage.dev/group: "Downloads"
      gethomepage.dev/icon: "jellyseerr"
      gethomepage.dev/description: "Request management and media discovery tool."
    hosts:
      - host: &jellyseer-host jellyseer.hermleigh.cc
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: jellyseer
              port: http
    tls:
      - hosts:
          - *jellyseer-host
        secretName: external-wildcard-certificate

persistence:
  config:
    existingClaim: jellyfin
  music:
    existingClaim: music
  movies:
    existingClaim: movies
  audio:
    existingClaim: audio
  tv-shows:
    existingClaim: tv-shows
  transcode:
    type: emptyDir
  cache:
    type: emptyDir
  jellyseer-config:
    enabled: true
    existingClaim: jellyseer-config
    advancedMounts:
      main:
        jellyseer:
          - path: /app/config
