controllers:
  wallabag:
    annotations:
      reloader.stakater.com/auto: "true"
    strategy: RollingUpdate
    containers:
      app:
        image:
          repository: wallabag/wallabag
          tag: 2.6.9
        env:
          SYMFONY__ENV__DOMAIN_NAME: https://wallabag.hermleigh.cc
          SYMFONY__ENV__SERVER_NAME: Wallabag
          SYMFONY__ENV__FOSUSER_REGISTRATION: "false"
          SYMFONY__ENV__FOSUSER_CONFIRMATION: "false"
          SYMFONY__ENV__REDIS_HOST: "redis.db.svc"
          SYMFONY__ENV__DATABASE_DRIVER: pdo_pgsql
          SYMFONY__ENV__DATABASE_HOST: cnpg-cluster-rw.db.svc
          SYMFONY__ENV__DATABASE_PORT: 5432
          SYMFONY__ENV__DATABASE_NAME: wallabag
        envFrom:
          - secretRef:
              name: wallabag-secret
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
            spec:
              failureThreshold: 30
              periodSeconds: 5
        resources:
          requests:
            cpu: 12m
            memory: 64M
          limits:
            memory: 256M

service:
  app:
    controller: wallabag
    ports:
      http:
        port: 80

ingress:
  app:
    className: nginx
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/group: "Apps & Services"
      gethomepage.dev/description: "Save and classify articles. Read them later. Freely."
      gethomepage.dev/icon: wallabag.svg
      gethomepage.dev/name: Wallabag
    hosts:
      - host: &host wallabag.hermleigh.cc
        paths:
          - path: /
            service:
              identifier: app
              port: http
    tls:
      - hosts:
        - *host
        secretName: external-wildcard-certificate
