# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/library/common/values.schema.json
controllers:
  main:
    containers:
      prowlarr:
        image:
          repository: ghcr.io/onedr0p/prowlarr
          tag: 1.18.0
        env:
          TZ: America/New_York
          PROWLARR__INSTANCE_NAME: Prowlarr
          PROWLARR__PORT: &port 9696
          PROWLARR__THEME: dark
          PROWLARR__POSTGRES_HOST: cnpg-cluster-rw.db.svc.seawolf
          PROWLARR__POSTGRES_PORT: "5432"
        envFrom:
          - secretRef:
              name: prowlarr-secret

        resources:
          requests:
            cpu: 10m
            memory: 100Mi
          limits:
            memory: 500Mi

        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /ping
                port: *port
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
          startup:
            enabled: false

        securityContext: &security-context
          runAsUser: 568
          runAsGroup: 568

      flaresolverr:
        image:
          repository: ghcr.io/flaresolverr/flaresolverr
          tag: latest
        env:
          TZ: America/New_York
        securityContext:
          readOnlyRootFilesystem: false
          runAsUser: 0
        ports:
          - containerPort: 8191

defaultPodOptions:
  securityContext:
    <<: *security-context
    fsGroup: 568
    fsGroupChangePolicy: OnRootMismatch
    supplementalGroups: [10000]

service:
  main:
    controller: main
    ports:
      http:
        port: *port


ingress:
  main:
    enabled: true
    className: nginx
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: Torrent Tracker Manager
      gethomepage.dev/icon: prowlarr.png
      gethomepage.dev/group: Downloads
      gethomepage.dev/name: Prowlarr
      gethomepage.dev/widget.type: "prowlarr"
      gethomepage.dev/widget.url: "http://prowlarr.downloads.svc:9696"
      gethomepage.dev/widget.key: "{{HOMEPAGE_VAR_PROWLARR_API_KEY}}"
    hosts:
      - host: &host trackers.hermleigh.cc
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: main
              port: http
    tls:
      - hosts:
          - *host
        secretName: external-wildcard-certificate

persistence:
  config:
    enabled: true
    existingClaim: prowlarr-config
