clusterDomain: gato.hermleigh.home
auth:
  enabled: false
  sentinel: false
master:
  persistence:
    enabled: false
replica:
  persistence:
    enabled: false
sentinel:
  enabled: true
  masterSet: redis-master
  getMasterTimeout: 10
  startupProbe:
    failureThreshold: 2
  persistence:
    enabled: false
metrics:
  enabled: true
  serviceMonitor:
    enabled: true
    interval: 1m
