clusterDomain: seawolf
architecture: standalone
auth:
  enabled: false
  sentinel: false
master:
  persistence:
    enabled: false
  dnsConfig:
    options:
      - name: ndots
        value: "8"
sentinel:
  enabled: true
  masterSet: redis-master
  getMasterTimeout: 10
  startupProbe:
    failureThreshold: 2
  persistence:
    enabled: false
metrics:
  enabled: true
  serviceMonitor:
    enabled: true
    interval: 1m

useExternalDNS:
  enabled: true
