# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/library/common/values.schema.json
controllers:
  main:
    containers:
      mealie:
        image:
          repository: ghcr.io/mealie-recipes/mealie
          tag: v1.11.0
          pullPolicy: IfNotPresent
        env:
          TZ: America/New_York
          PUID: 997
          PGID: 997
          DB_ENGINE: postgres
          POSTGRES_SERVER: cnpg-cluster-rw.db.svc
          POSTGRES_DB: mealie
          BASE_URL: https://mealie.hermleigh.home
        envFrom:
          - secretRef:
              name: mealie-secret
        resources:
          requests:
            cpu: 5m
            memory: 256Mi
          limits:
            memory: 512Mi

service:
  mealie:
    controller: main
    ports:
      http:
        port: 9000

ingress:
  main:
    enabled: true
    className: nginx
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: "A self-hosted recipe manager and meal planner"
      gethomepage.dev/icon: mealie.png
      gethomepage.dev/group: "Apps & Services"
      gethomepage.dev/name: Mealie
      gethomepage.dev/widget.type: mealie
      gethomepage.dev/widget.url: "http://mealie.home.svc:9000"
      gethomepage.dev/widget.key: "{{HOMEPAGE_VAR_MEALIE_API_KEY}}"
      gethomepage.dev/widget.fields: '["recipes", "users", "categories", "tags"]'
    hosts:
      - host: &host mealie.hermleigh.cc
        paths:
          - path: /
            pathType: Prefix
            service:
              port: http
              identifier: mealie
    tls:
      - secretName: external-wildcard-certificate
        hosts:
          - *host

persistence:
  api-data:
    enabled: true
    existingClaim: mealie-api-data
    globalMounts:
      - path: /app/data
