image:
  repository: ghcr.io/gethomepage/homepage
  tag: v0.9.5

controller:
  strategy: RollingUpdate
  rollingUpdate:
    maxSurge: 25%
    maxUnavailable: 25%

envFrom:
  - secretRef:
      name: app-keys
  - secretRef:
      name: homepage-secret

# Enable RBAC. RBAC is necessary to use Kubernetes integration
enableRbac: true

serviceAccount:
  # Specify a different service account name
  name: homepage
  # Create service account. Needed when RBAC is enabled.
  create: true

service:
  main:
    ports:
      http:
        port: 3000

# Enable the ingress to expose Homepage to the network.
ingress:
  main:
    enabled: true
    annotations:
      # This label will enable discover of this deployment in Homepage
      gethomepage.dev/enabled: "true"
      # These annotations will configure how this deployment is shown in Homepage
      gethomepage.dev/name: Homepage
      gethomepage.dev/description: "A modern, secure, highly customizable application dashboard."
      gethomepage.dev/group: "Apps & Services"
      gethomepage.dev/icon: "homepage.png"
    ingressClassName: nginx
    hosts:
      - host: &host seawolf.hermleigh.cc
        paths:
          - path: /
            pathType: Prefix

    tls:
      - hosts:
          - *host
        secretName: external-wildcard-certificate

# All the config files for Homepage can be specified under their relevant config block.
config:
  # To use an existing ConfigMap uncomment this line and specify the name
  useExistingConfigMap: homepage-config

persistence:
  logs:
    enabled: true
    type: emptyDir
    mountPath: /app/config/logs

resources:
  requests:
    memory: 200Mi
    cpu: 10m
  limits:
    memory: 1Gi
