# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/library/common/values.schema.json
controllers:
  main:
    containers:
      bazarr:
        image:
          repository: ghcr.io/onedr0p/bazarr
          tag: 1.4.2
        env:
          TZ: America/New_York
          POSTGRES_ENABLED: "true"
          POSTGRES_HOST: cnpg-cluster-rw.db.svc.seawolf
          POSTGRES_PORT: "5432"
        envFrom:
          - secretRef:
              name: bazarr-secret
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /health
                port: &port 6767
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
          startup:
            enabled: false
        resources:
          requests:
            cpu: 10m
            memory: 256M
          limits:
            memory: 1024M
        securityContext: &securityContext
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL
      subcleaner:
        image:
          repository: registry.k8s.io/git-sync/git-sync
          tag: v4.1.0@sha256:fd9722fd02e3a559fd6bb4427417c53892068f588fc8372aa553fbf2f05f9902
        env:
          GITSYNC_REPO: https://github.com/KBlixt/subcleaner
          GITSYNC_REF: master
          GITSYNC_PERIOD: 86400s # 1 day
          GITSYNC_ROOT: /add-ons
        resources:
          requests:
            cpu: 10m
            memory: 10M
          limits:
            memory: 128M
        securityContext: *securityContext
    pod:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        runAsNonRoot: true
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups:
          - 33
service:
  main:
    controller: main
    ports:
      http:
        port: *port

ingress:
  main:
    enabled: true
    className: nginx
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: Subtitle Downloader
      gethomepage.dev/icon: bazarr.png
      gethomepage.dev/group: Downloads
      gethomepage.dev/name: Bazarr
    hosts:
      - host: &host subtitles.hermleigh.cc
        paths:
          - path: /
            service:
              identifier: main
              port: http
    tls:
      - hosts:
          - *host
        secretName: external-wildcard-certificate

persistence:
  add-ons:
    type: emptyDir
  config:
    enabled: true
    existingClaim: bazarr-config
  tv:
    existingClaim: tv-shows
  movies:
    existingClaim: movies
  scripts:
    type: configMap
    name: bazarr-scripts
    defaultMode: 0775 # yamllint disable-line rule:octal-values
    globalMounts:
      - readOnly: true
  tmp:
    type: emptyDir
