# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/library/common/values.schema.json
controllers:
  main:
    containers:
      audiobookshelf:
        image:
          repository: ghcr.io/advplyr/audiobookshelf
          tag: 2.10.1
        env:
          TZ: "America/New_York"
          AUDIOBOOKSHELF_UID: 997
          AUDIOBOOKSHELF_GID: 997
          CONFIG_PATH: /config
          METADATA_PATH: /config/metadata
          PORT: 8080
        resources:
          requests:
            memory: 100Mi
            cpu: 50m
          limits:
            memory: 500Mi

service:
  main:
    controller: main
    ports:
      http:
        port: 8080

ingress:
  main:
    enabled: true
    className: nginx
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/group: "Media"
      gethomepage.dev/icon: audiobookshelf.png
      gethomepage.dev/name: Audiobookshelf
      gethomepage.dev/widget.type: audiobookshelf
      gethomepage.dev/widget.url: http://audiobookshelf.media.svc
      gethomepage.dev/widget.key: "{{HOMEPAGE_VAR_AUDIOBOOKSHELF_API_KEY}}"
    hosts:
      - host: &host audiobookshelf.hermleigh.cc
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: main
              port: http
    tls:
      - hosts:
        - *host
        secretName: external-wildcard-certificate

persistence:
  config:
    enabled: true
    existingClaim: audiobookshelf-config
  media:
    enabled: true
    type: hostPath
    hostPath: /share/Audiobooks
    hostPathType: Directory
  cache:
    enabled: true
    globalMounts:
      - path: /.npm
    type: emptyDir

defaultPodOptions:
  securityContext:
    runAsUser: 997
    runAsGroup: 997
    fsGroup: 997
    fsGroupChangePolicy: OnRootMismatch
