# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/library/common/values.schema.json
controllers:
  main:
    containers:
      readarr:
        image:
          repository: ghcr.io/onedr0p/readarr-develop
          tag: 0.3.27

        env:
          TZ: "America/New_York"
          READARR__INSTANCE_NAME: Readarr
          READARR__APPLICATION_URL: 'https://ebooks.hermleigh.cc'
          READARR__LOG_LEVEL: info
          READARR__POSTGRES_HOST: cnpg-cluster-rw.db.svc.seawolf
        envFrom:
          - secretRef:
              name: readarr-secret
        resources:
          requests:
            memory: 750Mi
            cpu: 25m
          limits:
            memory: 2000Mi
        securityContext: &security-context
          runAsUser: 568
          runAsGroup: 568

defaultPodOptions:
  securityContext:
    <<: *security-context
    fsGroup: 568
    fsGroupChangePolicy: OnRootMismatch
    supplementalGroups: [10000]

service:
  main:
    controller: main
    ports:
      http:
        port: 8787

ingress:
  main:
    enabled: true
    className: nginx
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: E-Book Download Manager
      gethomepage.dev/icon: readarr.png
      gethomepage.dev/group: Downloads
      gethomepage.dev/name: Readarr
      gethomepage.dev/widget.type: "readarr"
      gethomepage.dev/widget.url: "http://readarr.downloads.svc:8787"
      gethomepage.dev/widget.key: "{{HOMEPAGE_VAR_READARR_API_KEY}}"
    hosts:
      - host: &host ebooks.hermleigh.cc
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: main
              port: http
    tls:
      - hosts:
          - *host
        secretName: external-wildcard-certificate

persistence:
  config:
    enabled: true
    existingClaim: readarr-config
  books:
    enabled: true
    existingClaim: books
  downloads:
    enabled: true
    existingClaim: downloads
