#
# Ansible managed
#
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd
helmCharts:
- name: argo-cd
  repo: https://argoproj.github.io/argo-helm
  version: 7.4.2
  namespace: argocd
  releaseName: argocd
  valuesFile: values.yaml
patches:
- patch: "- op: add\n  path: /spec/template/spec/containers/0/env/-\n  value: { name:
    ARGOCD_SYNC_WAVE_DELAY, value: '30' }"
  target:
    version: v1
    group: apps
    kind: StatefulSet
    name: argocd-application-controller
    labelSelector: app.kubernetes.io/name=argocd-application-controller
