{{ ansible_managed | comment }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ app.name }}
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
{% if 'wave' in app %}
    argocd.argoproj.io/sync-wave: "{{ app.wave }}"
{% endif %}
spec:
  project: default
  
{% set repo_dir = app_dir | relpath(root_dir) %}
{% if 'charts' in app %}
  sources:
{% for chart in app.charts %}
{% set (helm_repo,chart_name) = chart.chart.split('/') %}
    - chart: {{ chart_name }}
      repoURL: {{ helm_repositories[helm_repo] }}
      targetRevision: {{ chart.version }}
{% if 'skipCrds' in chart or 'valueFiles' not in chart or chart.valueFiles %}
      helm:
{% if 'skipCrds' in chart %}
        skipCrds: {{ chart.skipCrds }}
{% endif %}
{% if 'release' in chart %}
        releaseName: {{ chart.release }}
{% elif app.name != chart_name %}
        releaseName: {{ chart_name }}
{% endif %}
{% if 'valueFiles' not in chart or chart.valueFiles %}
        valueFiles:
{% if 'valueFiles' not in chart  %}
          - {{ ('$repo', repo_dir, 'values.yaml') | path_join }}
{% else %}
{% for file in chart.valueFiles %}
          - {{ ('$repo', repo_dir, file) | path_join }}
{% endfor %}
{% endif %}
{% endif %}
{% endif %}

{% endfor %}
{% else %}
  source:
{% endif %}

{%- filter indent(4 if app.charts is defined else 2) %}
    {% if app.charts is defined %}- {% endif %}repoURL: {{ app.repo_url | default(repo_url) }}
  path: {{ repo_dir }}
  targetRevision: {{ app.branch | default(branch) }}
{% if 'charts' in app %}
  ref: repo
{% endif %}
{% if app.directory is defined %}
  directory:
    {{ app.directory | to_nice_yaml(indent=4)}}
{% endif %}{% endfilter %}

  destination:
    name: in-cluster
    namespace: {{ app.namespace }}

{% if 'pv' in app and app.pv %}
  ignoreDifferences:
    - kind: PersistentVolume
      jsonPointers:
        - /spec/claimRef/resourceVersion
        - /spec/claimRef/uid

{% endif %}
  syncPolicy: 
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
{% if 'pv' in app and app.pv %}
      - RespectIgnoreDifferences=true
{% endif %}
