{{ ansible_managed | comment }}
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: {{ app.namespace }}
{% if app.kustomize.resources is defined %}

resources:
{% for resource in app.kustomize.resources %}
  - {{ resource }}
{% endfor %}
{% endif %}
{% if app.kustomize.charts is defined %}

helmCharts:
{% for chart in app.kustomize.charts %}
{% set (helm_repo,chart_name) = chart.chart.split('/') %}
  - name: {{ chart_name }}
    repo: {{ helm_repositories[helm_repo] }}
    version: {{ chart.version }}
{% if chart.valuesFile is defined%}
{% if chart.valuesFile != '' -%}
    valuesFile: {{ chart.valuesFile }}
{% endif %}
{% else %}
    valuesFile: values.yaml
{% endif %}
{% if chart.skipCrds is undefined or not chart.skipCrds is false %}
    includeCRDs: true
{% endif %}
    releaseName: {{ chart.release | default(chart_name, true) }}
    namespace: {{ chart.namespace | default(app.namespace) }}

{% endfor %}{% endif %}

{{ (app.kustomize.extras | to_nice_yaml(indent=2)) if 'extras' in app.kustomize }}
