{{ ansible_managed | comment }}
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ app.name }}-{{ secret.name }}
  namespace: {{ app.namespace }}
{% if 'data' in secret.value and secret.value.data is mapping %}
data:
{% for key,value in secret.value.data | items %}
  {{ key }}: {{ (lookup('vars',(value.name, value.type) |join('_')) if value is mapping else value) | b64encode }}
{% endfor %}
{% endif %}
{% if 'stringData' in secret.value %}
stringData:
{{ secret.value.stringData | to_nice_yaml(indent=4) }}
{% endif %}