---
- name: Set some facts
  block:
    - set_fact: # noqa name
        home_directory: "{{ lookup('env','HOME') }}"
    - set_fact: # noqa name
        local_user: "{{ lookup('env','USER') }}"
        kubedir: "{{ [home_directory, '.kube']|path_join }}"

- name: Create kube config dir for current/ansible become user
  file:
    path: "{{ kubedir }}"
    owner: "{{ local_user }}"
    mode: "0700"
    state: directory
  when: kubedir is not exists

- name: Install windows apps
  include_tasks: windows.yml
  when: ansible_os_family|lower == "windows"

- name: Create cluster user for local controller user
  delegate_to: "{{ groups.kube_control_plane | random }}"
  import_role:
    name: user
    tasks_from: kube-user.yml
  vars:
    kube_user: "{{ local_user }}"
    username: "{{ local_user }}"
    groupname: "{{ local_user }}"

- name: Write local kubeconfig
  when: kubeconfig != ""
  copy:
    dest: "{{ kubedir }}/config"
    content: "{{ kubeconfig }}"
    owner: "{{ local_user }}"
    mode: "0600"
    force: true

- name: Setup local binary clients
  include_tasks: binary.yml
  vars:
    binary: "{{ item }}"
  loop:
    - kubectl
    - helm
    - argocd
    - krew
    - kustomize
