# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/library/common/values.schema.json
controllers:
  main:
    containers:
      qbittorrent:
        image:
          repository: ghcr.io/onedr0p/qbittorrent
          tag: 4.6.6
        env:
          TZ: America/New_York
          QBITTORRENT__PORT: &port 8080
          QBITTORRENT__BT_PORT: &port-bt 50413
          QBT_BitTorrent__Session__IPFilter: 'https:/github.com/Naunter/BT_BlockLists/blob/master/combined_2.txt?raw=true'
          QBT_BitTorrent__Session_IPFilteringEnabled: 'true'
          QBT_BitTorrent__Session__TrackerFilteringEnabled: 'true'
          QBT_BitTorrent__Session__DefaultSavePath: '/downloads'
          QBT_BitTorrent__Session__TorrentExportDirectory: '/downloads/torrents'
          QBT_Preferences__WebUI__AuthSubnetWhitelist: '10.0.0.0/8, 172.16.0.0/12'
          QBT_Preferences__WebUI__AuthSubnetWhitelistEnabled: 'true'
        resources:
          requests:
            cpu: 10m
            memory: 250Mi
          limits:
            memory: 2Gi
        securityContext: &security-context
          runAsUser: 568
          runAsGroup: 568
      exporter:
        image:
          repository: ghcr.io/esanchezm/prometheus-qbittorrent-exporter
          tag: sha-8ac240b
        env:
          EXPORTER_PORT: &ex-port 8081
          QBITTORRENT_HOST: localhost
          QBITTORRENT_PORT: *port
        resources:
          requests:
            cpu: 5m
            memory: 36M
          limits:
            memory: 128M

defaultPodOptions:
  securityContext:
    <<: *security-context
    fsGroup: 568
    fsGroupChangePolicy: OnRootMismatch
    supplementalGroups: [10000]

service:
  qbittorrent:
    controller: main
    ports:
      http:
        port: *port
  ext:
    enabled: true
    type: LoadBalancer
    controller: main
    ports:
      bittorrent:
        enabled: true
        port: *port-bt
        protocol: TCP
        targetPort: *port-bt
    externalTrafficPolicy: Local
  exporter:
    enabled: true
    controller: main
    ports:
      http:
        port: *ex-port

ingress:
  main:
    enabled: true
    className: nginx
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: Torrent Management
      gethomepage.dev/group: Downloads
      gethomepage.dev/icon: qbittorrent.png
      gethomepage.dev/name: qBittorrent
      gethomepage.dev/widget.type: "qbittorrent"
      gethomepage.dev/widget.url: "http://qbittorrent.downloads.svc:8080"
    hosts:
      - host: &host torrent.hermleigh.cc
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: qbittorrent
              port: http
    tls:
      - hosts:
          - *host
        secretName: external-wildcard-certificate

persistence:
  config:
    enabled: true
    existingClaim: qbittorrent-config
  downloads:
    enabled: true
    type: persistentVolumeClaim
    existingClaim: downloads
  incomplete:
    enabled: true
    type: emptyDir
  music:
    enabled: true
    existingClaim: music
  movies:
    enabled: true
    existingClaim: movies
  tv-shows:
    enabled: true
    existingClaim: tv-shows
  books:
    enabled: true
    existingClaim: books
  audio:
    enabled: true
    existingClaim: audio
