# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/library/common/values.schema.json
controllers:
  main:
    containers:
      radarr:
        image:
          repository: ghcr.io/onedr0p/radarr
          tag: 5.6.0

        env:
          TZ: "America/New_York"
          RADARR__INSTANCE_NAME: Radarr
          RADARR__APPLICATION_URL: 'https://movies.hermleigh.cc'
          RADARR__LOG_LEVEL: info
          RADARR__POSTGRES_HOST: cnpg-cluster-rw.db.svc.seawolf
        envFrom:
          - secretRef:
              name: radarr-secret
        resources:
          requests:
            memory: 350Mi
            cpu: 25m
          limits:
            memory: 500Mi
        securityContext: &security-context
          runAsUser: 568
          runAsGroup: 568

defaultPodOptions:
  securityContext:
    <<: *security-context
    fsGroup: 568
    fsGroupChangePolicy: OnRootMismatch
    supplementalGroups: [10000]

service:
  main:
    controller: main
    ports:
      http:
        port: 7878

ingress:
  main:
    enabled: true
    className: 'nginx'
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: Movie Download Manager
      gethomepage.dev/icon: radarr.png
      gethomepage.dev/group: Downloads
      gethomepage.dev/name: Radarr
      gethomepage.dev/widget.type: "radarr"
      gethomepage.dev/widget.url: "http://radarr.downloads.svc:7878"
      gethomepage.dev/widget.key: "{{HOMEPAGE_VAR_RADARR_API_KEY}}"
    hosts:
      - host: &host movies.hermleigh.cc
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: main
              port: http
    tls:
      - hosts:
        - *host
        secretName: external-wildcard-certificate

persistence:
  config:
    enabled: true
    existingClaim: radarr-config
  movies:
    enabled: true
    type: persistentVolumeClaim
    existingClaim: movies
  downloads:
    enabled: true
    type: persistentVolumeClaim
    existingClaim: downloads
