---
apiVersion: v1
kind: Config
clusters:
- name: {{ cluster_name }}
  cluster:
    certificate-authority-data: {{ cluster_ca_data }}
    server: {{ kube_apiserver_endpoint }}
users:
- name: {{ kube_user }}
  user:
    client-certificate-data: {{ crt.stdout }}
    client-key-data: {{ private_key.privatekey | string | b64encode | replace('\n','') }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: {{ kube_user }}
  name: {{ kube_user }}-context
current-context: {{ kube_user }}-context

