# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/library/common/values.schema.json
controllers:
  main:
    containers:
      main:
        image:
          repository: ghcr.io/onedr0p/lidarr
          tag: 2.3.3
        env:
          TZ: America/New_York
          LIDARR__INSTANCE_NAME: Lidarr
          LIDARR__PORT: &port 8686
          LIDARR__POSTGRES_HOST: cnpg-cluster-rw.db.svc.seawolf
          LIDARR__LOG_LEVEL: info
        envFrom:
          - secretRef:
              name: lidarr-secret
        resources:
          requests:
            cpu: 10m
            memory: 250Mi
          limits:
            memory: 2000Mi

service:
  main:
    controller: main
    ports:
      http:
        port: *port

ingress:
  main:
    enabled: true
    className: nginx
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: Music Management
      gethomepage.dev/group: Downloads
      gethomepage.dev/icon: lidarr.png
      gethomepage.dev/name: Lidarr
      gethomepage.dev/widget.type: "lidarr"
      gethomepage.dev/widget.url: "http://lidarr.downloads.svc:8686"
      gethomepage.dev/widget.key: "{{HOMEPAGE_VAR_LIDARR_API_KEY}}"
      gethomepage.dev/pod-selector: ""
      nginx.ingress.kubernetes.io/configuration-snippet: |
        proxy_set_header Accept-Encoding "";
        sub_filter '</head>' '<link rel="stylesheet" type="text/css" href="https://theme-park.dev/css/base/lidarr/nord.css"></head>';
        sub_filter_once on;
    hosts:
      - host: &host music.hermleigh.cc
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: main
              port: http
    tls:
      - hosts:
          - *host
        secretName: external-wildcard-certificate

defaultPodOptions:
  securityContext:
    runAsUser: 568
    runAsGroup: 568
    fsGroup: 568
    fsGroupChangePolicy: OnRootMismatch
    supplementalGroups: [10000]

persistence:
  config:
    existingClaim: lidarr-config
  music:
    existingClaim: music
  downloads:
    existingClaim: downloads
