apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd

resources:
  - {{ argocd_manifest }}
  - argocd.yaml
  - cluster.yaml
  - ingress.yaml

patches:
  - path: plugin/sidecar-plugin-patch.yaml
    target:
      group: apps
      version: v1
      kind: Deployment
      name: argocd-repo-server

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
- name: plugin-config
  files:
  - plugin/plugin.yaml