# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/library/common/values.schema.json
controllers:
  main:
    containers:
      sonarr:
        image:
          repository: ghcr.io/onedr0p/sonarr
          tag: 4.0.5
        env:
          SONARR__INSTANCE_NAME: Sonarr
          SONARR__PORT: &port 8989
          SONARR__APPLICATION_URL: https://tv.hermleigh.cc
          SONARR__LOG_LEVEL: info
          SONARR__POSTGRES_HOST: cnpg-cluster-rw.db.svc.seawolf
        envFrom:
          - secretRef:
              name: sonarr-secret
        resources:
          requests:
            cpu: 20m
            memory: 323M
          limits:
            memory: 323M
        securityContext: &security-context
          runAsUser: 568
          runAsGroup: 568

defaultPodOptions:
  securityContext:
    <<: *security-context
    fsGroup: 568
    fsGroupChangePolicy: OnRootMismatch
    supplementalGroups: [10000]

service:
  main:
    controller: main
    ports:
      http:
        port: *port

ingress:
  main:
    enabled: true
    className: nginx
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: TV Show Management
      gethomepage.dev/group: Downloads
      gethomepage.dev/icon: sonarr.png
      gethomepage.dev/name: Sonarr
      gethomepage.dev/widget.type: "sonarr"
      gethomepage.dev/widget.url: "http://sonarr.downloads.svc:8989"
      gethomepage.dev/widget.key: "{{HOMEPAGE_VAR_SONARR_API_KEY}}"
      nginx.ingress.kubernetes.io/configuration-snippet: |
        proxy_set_header Accept-Encoding "";
        sub_filter '<body>' '<body><link rel="stylesheet" type="text/css" href="https://theme-park.dev/css/base/sonarr/nord.css">';
        sub_filter_once on;
    hosts:
      - host: &host tv.hermleigh.cc
        paths:
          - path: /
            service:
              identifier: main
              port: http
    tls:
      - hosts:
          - *host
        secretName: external-wildcard-certificate

persistence:
  config:
    enabled: true
    existingClaim: sonarr-config
  tv:
    enabled: true
    existingClaim: tv-shows
  downloads:
    enabled: true
    existingClaim: downloads
