---
- hosts: all
  become: true
  becom_method: sudo
  vars:
    created_username: jared
  tasks:
    - name: Install aptitutde
      apt:
      name: aptitude
      state: latest
      update_cache: true
    - name: Setup passwordless sudo
      lineinfile:
        path: /etc/sudoers
        state: present
        regexp: '^%sudo'
        line: '%sudo ALL=(ALL) NOPASSWD: ALL'
        validate: '/usr/sbin/visudo -cf %s'

    - name: Create a new regular user with sudo privileges
      user:
        name: "{{ created_username }}"
        state: present
        groups: sudo
        append: true
        create_home: true
    - name: Disable password authentication for root
      lineinfile:
        path: /etc/ssh/sshd_config
        state: present
        regexp: '^#?PermitRootLogin'
        line: 'PermitRootLogin prohibit-password'
    - name: Update apt and install required system packages
      apt:
        pkg:
          - curl
          - vim
          - git
        state: latest
        update_cache: true
