## This chart relies on the common library chart from bjw-s
## You can find it at https://github.com/bjw-s/helm-charts/tree/main/charts/library/common
## Refer there for more detail about the supported values

# These entries are shared between all the Immich components

env:
  REDIS_HOSTNAME: redis-master.db.svc
  DB_HOSTNAME: cnpg-cluster-rw.db.svc
  DB_PASSWORD:
  DB_DATABASE_NAME:
  DB_USERNAME:
  IMMICH_MACHINE_LEARNING_URL: '{{ printf "http://%s-machine-learning:3003" .Release.Name }}'
envFrom:
  - secretRef:
      name: immich-secret

immich:
  persistence:
    library:
      existingClaim: pictures

server:
  enabled: true
  image:
    repository: ghcr.io/immich-app/immich-server
    pullPolicy: IfNotPresent
  ingress:
    main:
      enabled: true
      annotations:
        # proxy-body-size is set to 0 to remove the body limit on file uploads
        nginx.ingress.kubernetes.io/proxy-body-size: "0"
        cert-manager.io/cluster-issuer: ca-issuer
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: "Apps & Services"
        gethomepage.dev/name: "Immich"
        gethomepage.dev/icon: immich.png
      hosts:
        - host: &host immich.hermleigh.home
          paths:
            - path: "/"
      tls:
        - hosts:
            - *host
          secretName: immich-ingress-tls

microservices:
  enabled: true
  env:
    REVERSE_GEOCODING_DUMP_DIRECTORY: /geodata-cache
  persistence:
    geodata-cache:
      enabled: true
      size: 1Gi
      type: pvc
      accessMode: ReadWriteOnce
      storageClass: local-path-shared
  image:
    repository: ghcr.io/immich-app/immich-server
    pullPolicy: IfNotPresent

machine-learning:
  enabled: true
  image:
    repository: ghcr.io/immich-app/immich-machine-learning
    pullPolicy: IfNotPresent
  env:
    TRANSFORMERS_CACHE: /cache
  persistence:
    cache:
      enabled: true
      size: 10Gi
      type: pvc
      accessMode: ReadWriteOnce
      storageClass: local-path-shared
