---
apiVersion: v1
kind: Config
clusters:
- name: {{ cluster_name }}
  cluster:
    certificate-authority-data: {{ kubernetes_ca.ca_cert }}
    server: {{ kube_apiserver_endpoint }}
users:
- name: {{ kube_user }}
  user:
    client-certificate-data: {{ certificate }}
    client-key-data: {{ private_key.privatekey | string | b64encode | replace('\n','') }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: {{ kube_user }}
  name: {{ cluster_name }}
current-context: {{ cluster_name }}
