apiVersion: viaduct.ai/v1
kind: ksops
metadata:
  name: {{ app.name }}-secret-generator
  namespace: {{ app.namespace }}
files:
{% for name in app.secrets.keys() %}
  - ./{{ name }}.sops.yaml
{% endfor %}
