apiVersion: v1
kind: Secret
metadata:
  name: {{ secret.nameOverride | default(app.name+'-'+secret.name) }}
  namespace: {{ app.namespace }}
{% if 'reflect' in secret.value %}
  annotations:
    reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
    reflector.v1.k8s.emberstack.com/reflection-auto-enabled: "true"
{% if secret.value.reflect %}
    reflector.v1.k8s.emberstack.com/reflection-allowed-namespaces: "{{ secret.value.reflect | join(',') }}"
    reflector.v1.k8s.emberstack.com/reflection-auto-namespaces: "{{ secret.value.reflect | join(',') }}"
{% endif %}
{% endif %}
{% if 'type' in secret.value %}
type: kubernetes.io/{{ secret.value.type }}
{% else %}
type: Opaque
{% endif %}
{% if 'data' in secret.value and secret.value.data is mapping %}
data:
{% for key,value in secret.value.data | items %}
  {{ key }}: {{ (key in generated_credentials) | ternary(generated_credentials[key], value) | b64encode }}
{% endfor %}
{% endif %}
{% if 'stringData' in secret.value %}
stringData:
{{ secret.value.stringData | to_nice_yaml(indent=4) }}
{% endif %}
